<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">Admin</button>
    <button mat-menu-item routerLink="/category-selection" >Game Mode</button>
  </mat-menu>
  <div class="toolbar-icons">
    <h1 class="app-title" routerLink="/app-dashboard"><span class="app-title-span">Little Linguist - English Learning App</span></h1>
  </div>

  <button mat-icon-button color="white">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>





