.toolbar-icons {
    flex: 1 1 auto;
    text-align: center;
    padding: 20px; 
}

.app-title {
    font-family: 'Your Preferred Font', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color:rgb(255, 255, 255); 
    letter-spacing: 1px;
}

.highlight {
    color:black 
}
