.toolbar-icons {
    flex: 1 1 auto;
    text-align: center;
    padding: 20px; 
}

.app-title {
    font-family: 'Your Preferred Font', sans-serif;
    color:black; 
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}

.highlight {
    color:black 
}
