

<br><h2>Categories - Table</h2><br>

<table mat-table [dataSource]="categories">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef (click)="sortByCategory()"> Category Name </th>
   <td mat-cell *matCellDef="let category"> {{ category.categoryName }} </td>
  </ng-container>

  <ng-container matColumnDef="words">
    <th mat-header-cell *matHeaderCellDef>Number of Words </th>
    <td mat-cell *matCellDef="let category"> {{ category.words.length }} </td>
  </ng-container>

  <ng-container matColumnDef="lastModified">
    <th mat-header-cell *matHeaderCellDef> Last Modified </th>
    <td mat-cell *matCellDef="let category"> {{ category.lastModifiedDate | date:'short' }} </td>
  </ng-container>

 
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let category">
     <button mat-icon-button color="primary" [routerLink]="['/categoryform', category.id]">
  <mat-icon>edit</mat-icon>
</button>
<button mat-icon-button color="warn" (click)="deleteCategory(category.id,category.categoryName)">
  <mat-icon>delete</mat-icon>
</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['name', 'words', 'lastModified', 'actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['name', 'words', 'lastModified', 'actions']"></tr>
</table><br><br>

<div class="categoryButton">
  <button mat-raised-button color="primary" routerLink='/categorynew'>New Category</button>
</div>
