<br><h2><span>Categories - Table</span></h2><br>

<table mat-table [dataSource]="categories" matSort (matSortChange)="sortData($event)">
  
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="Cname"> Category Name </th>
    <td id="tdName" mat-cell *matCellDef="let category"> {{ category.categoryName }} </td>
  </ng-container>

  <ng-container matColumnDef="words">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="numWords">Number of Words </th>
    <td id="tdWords" mat-cell *matCellDef="let category"> {{ category.words.length }} </td>
  </ng-container>

  <ng-container matColumnDef="lastModified">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header="Cdate"> Last Modified </th>
    <td mat-cell *matCellDef="let category"> {{ category.lastModifiedDate | date:'d/M/yy, hh:mm a' }} </td>
  </ng-container>

 
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td id="tdAct" mat-cell *matCellDef="let category">
     <button mat-icon-button color="primary" [routerLink]="['/categoryform', category.id]">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteCategory(category.id,category.categoryName)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table><br>

<div class="categoryButton">
  <button mat-raised-button color="primary" routerLink='/categorynew'>+ New Category</button>
</div>
