th {
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: underline;
  text-align: center; 
  vertical-align: middle; 
}

#tdAct {
  color: white;
  text-align: center;
  vertical-align: middle; 
}

td {
  color: white;
  font-size: 15px;
}

#tdWords{
  padding-left: 75px;
}

#tdName{
  padding-left: 50px;
}

span {
  color: #490069;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 45px;
}

.categoryButton {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
  margin-bottom: 30px;
}

table {
  background-color: #16a1d732 ;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

tr:hover {
  background-color: #66edff4f; 
}