th {
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: underline;
}



td {
  color: white;
}


span {
  text-align: center;
  font-family: 'Your Preferred Font', sans-serif;
  background-color: #f7a33d;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  padding: 8px;
  margin-bottom: 20px;
  margin-left: 640px;
  padding: 15px;
  border-radius: 15px
}

.categoryButton {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
  }

table{
  background-color:#f7a33d;
}
