<h1 *ngIf="category">Matching Game - {{ category.categoryName }}</h1>
<app-game-exit-button></app-game-exit-button>
<app-points-display [points]="totalPoints"></app-points-display>


<div *ngIf="!isGameFinished()">
  <div class="card-column">
    <div class="word-container">
      <app-word-display *ngFor="let word of selectedWords; let i = index"
                         [word]="word.origin"
                         [status]="sourceWordStatuses[i]"
                         (click)="onWordClick(i); isGameFinished()">
      </app-word-display>
    </div>
  </div>
  <div class="card-column">
    <div class="word-container">
      <app-word-display *ngFor="let interpretation of interpretations; let i = index"
                         [word]="interpretation"
                         [status]="targetWordStatuses[i]"
                         (click)="onInterpretationClick(i); isGameFinished()">
      </app-word-display>
    </div>
  </div>


  <div class="divMessage" *ngIf="message">
    {{ message }} <br><br>

    <button mat-raised-button color="primary" [routerLink]="['/category-selection']">Select new category</button>
  </div>
</div>

<div *ngIf="isGameFinished()"><app-game-summary [totalPoints]="totalPoints"
                                                [attempts]="attempts"
                                                [selectedWords]="sourceWordStatuses"
                                                [interpretations]="targetWordStatuses">
                              </app-game-summary>
</div>
