h1 {
    color: #490069;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 50px;
    display: block; 
}

app-points-display {
    position: absolute; 
    top: 100px; 
    right: 100px; 
    margin-top: 10px; 
}

app-game-exit-button {
    position: absolute; 
    top: 100px; 
    right: -10; 
    margin-top: 10px; 
    margin-left: 50px;
}

.word-container{
    margin-top: 80px;
    font-size: 30px;
    text-align: center;
}

.ans-btn{
    margin-top: 50px;
    width: 180px;
    height: 70px;
    font-size: 24px;
}

span{
    font-weight: bold;
}

.divMessage{
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
}

.newCat-btn{
    margin-top: 20px;
    width: 200px;
    height: 70px;
    font-size: 20px;
}

.main-progress-bar {
    width: 50%;
    margin-left: 380px;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
}