span {
    color: #490069;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 50px;
    display: block; 
}

#s1{
    font-size: 40px;
}

.div-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.card-container {
    padding: 30px; 
    text-align: center;
    font-weight: 300;
}


.card-title{
    margin-top: 40px;
}

.card-content{
    margin-bottom: 40px;
}

mat-card {
    border-radius: 40px; 
}

mat-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.dateDiv{
    font-size: 12px;
}