span {
    color: #490069;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 50px;
    display: block; 
}

.card-container {
    display: flex;
    justify-content: center;
    margin-top: 40px; 
}


.played-card {
    background-color: #f2f5ab; 
    text-align: center;

}

.got-card {
    background-color: #81d4fa; 
    text-align: center;
}
 
mat-card {
    border-radius: 40px; 
    width: 300px;
    height: 200px;
    color: #490069;
    font-weight: bold;
    text-align: center;
}

.card-title{
    margin-top: 24px;
    font-size: 20px;

    
}

mat-card-title{
    font-size: 80px;
    margin-top: 35px;
    color: #ffffff;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(140, 0, 255), 0 0 5px rgb(191, 0, 255);
}

.numDiv{
    font-size: 20px;
    margin-top: 20px;

}

.totalGamesWon-card{
    text-align: center;
    background-color: #b7f3bd;
}

.avgPoints-card{
    text-align: center;
    background-color: #f5ce9a; 

}

.totalTimePlayed-card{
    margin-left: 570px;
    height: 270px;
    width: 380px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 400px); /* Create 3 columns */
    grid-gap: 20px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 100px;
}

.percentageGamesEndedOnTime-card{
    background-color: #ffc4e1;
}
  
.averageDuration-card{
    background-color: #ff8080;
}

