:host{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px ;
  }
  
  span {
    text-align: center;
    color: #ffffff;
    text-align: center;
    background-color:#06a9f5cf;
    font-weight: 500;
    padding: 10px;
    letter-spacing: 1mm;
    font-size: 20px;
}

h1{
  color: #490069;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  margin-bottom: 50px;
  text-align: center;
}

button{
  margin-left: 75px;
  margin-top: 20px;
}

.check{
  margin-left: 30px;
}

.word-item {
  margin-bottom: 10px;
  margin-left: 50px;
}

.translation-field {
  width: 200px; 
}

.result-icon {
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}

.result-icon.correct {
  background-color: green;
  color: white;
  font-weight: bolder;
}

.result-icon.incorrect {
  background-color: red;
  color: white;
  font-weight: bolder;
}

#mainDiv{
  align-items: center;
}

.results{
  color: #490069;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 18px;
  margin-top: 40px;
}

#seeResultButton{
  margin-left: 20px;
}

#equalSy{
  font-size: 30px;
  padding: 10px;
  color: #490069;
}

#tryAgainBA{
  margin-left: 0px;
}

#tryAgainBB{
  margin-left: 140px;
}
